# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.js':
  'NetSuite Sublist For Loop':
    'prefix':'for(var line = 1; line <= lineItemCount; line++)'
    'body':"for(var line = 1; line <= lineItemCount; line++) {$1}"

  'NetSuite Search':
    'prefix':'search'
    'body':"""
             const activeContactSearch = search.create({
               type: $1,
                filters: [{
                  name: 'firstname',
                  operator: 'isnotempty'
                }
               });
           """

  'NetSuite Define':
    'prefix':'define'
    'description': 'The define Function is a global object that implements a define() Module Loader interface for SuiteScript 2.0. It conforms to the Asynchronous Module Definition (AMD) specification.'
    'rightLabelHTML': '<span style="color:#EF490F">3EN - Netsuite</span>'
    'descriptionMoreURL': 'https://system.netsuite.com/app/help/helpcenter.nl?fid=section_4387811519.html'
    'body':"""
             /**
              * @NApiVersion 2.x
              * @NModuleScope Public
              * 3EN Cloud Ltd.
              * @module $1
              * @description $2
              */
             define([$3], ($4) => {

               return /** @alias module:$1 */ {
                 $5
               };
             });
           """
